img {
	float: left;
	height: 100px;
	padding-top: 15px;
}

.navbar {
	text-align: center;
	background-color: #333333;
}

.navbar ul{
    list-style-type: none;
	display: inline-block;
	float: inherit;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #8442C4;
}

.cont-1, .cont-1 div {
	display: inline-table;
	width: 1024px;
	
}

.cont-1 img {
	width: 100px;
	height: 100px;
}


h3 {
	font-size: 40px;
}

h4 {
	font-size: 20px;
}
h5 {
	font-size: 15px;
}

span {
	color: #D81F22;
}

.main_header {
	display: flex;
	background-image: url(/Assets/Images/Header-bg-img.png);
}

#Head {
	color: #49389E;
	text-shadow: 1px 1px #84189c;
	padding-left: 15px;
}